# Node 
node_modules/ 
dist/ 
.vite/ 
*.tsbuildinfo 

# Banco local (a partir do MO4)
*.sqlite 
*.sqlite-journal 

#logs 
*.logs 

# Ambiente 
.env 
.env.* 
!.env.example 

# Editores e sistema 
.vscode/ 
.idea/ 
.DS_Store 
Thumbs.db 